<div class="cal-container text-center">
    <div class="row">
        <div class="col">
            <h4>Total</h4>
            <p class="cal-values">0</p>
        </div>
        <div class="col">
            <h4>Goal</h4>
            <p class="cal-values">0</p>
        </div>
        <div class="col">
            <h4>Remaining</h4>
            <p class="cal-values">0</p>
        </div>
    </div>
</div>

<br>

<table>
    <tr>
        <th>Calories</th>
        <th>Carbs</th>
        <th>Fat</th>
        <th>Protein</th>
        <th>Sodium</th>
        <th>Sugar</th>
    </tr>

    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>