<section id="meals">
    <h2>My Daily Food Diary</h2>
    <div class="meal-container">
        <div class="meal">
            <h4>Breakfast</h4>
            <input type="text" placeholder="Search..">
            <button class="button">add food</button>
        </div>
        <hr>
        <div class="meal">
            <h4>Snacks</h4>
            <button class="button">add food</button>
        </div>
        <hr>
        <div class="meal">
            <h4>Lunch</h4>
            <button class="button">add food</button>
        </div>
        <hr>
        <div class="meal">
            <h4>Dinner</h4>
            <button class="button">add food</button>
        </div>
    </div>
    <br>
    <table>
        <tr>
            <th>Calories</th>
            <th>Carbs</th>
            <th>Fat</th>
            <th>Protein</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>
    <br>
</section>