<!-- Background image -->
<div
    class="p-5 text-center bg-image"
    style="background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');height: 500px;margin-top: 75px;">
    <div class="mask" style="background-color: rgba(227, 227, 227, 0.6); border-radius: 25px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-black">
                <h1 class="mb-3">COUNT YOUR DAILY CALORIES TODAY!</h1>
                <h4 class="mb-3">The simplest way to count calories on the daily basis. No complicated math or things you don't understand, just the basics</h4>
                <a class="btn btn-outline-light btn-lg" href="/signup" role="button" style="background-color: rgba(236, 233, 233, 0.6); color: black; margin-bottom: 10px">Sign Up for Free</a>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->

<div class="row">
    <div class="column">
        <img src="/images/one.svg" alt="step one"  width="100" height="100">
        <h2> Step One</h2> 
        <a href="/signup" style="background-color: #929fba; color: white;" type="button" class="btn btn-default btn-lg btn-block">Click Here To sign up </a>
    </div>
    <div class="column">
        <img src="/images/2.svg" alt="step two" width="100" height="100">
        <h2>Step Two</h2>
        <button style="background-color: #929fba; color: white;"button type="button" class="btn btn-default btn-lg btn-block">My Diary</button>
    </div> 
</div> 

<!--body-->
<div class="goals">
    <div class="food">
        <img src="/images/nutiriton.jpg" style="border-radius: 10px;" width="75%" height="75%" alt="food" >
    </div>
    <div class="text">
        <h1>Tools For Your Goals</h1>
        <p>3 things that this app will do for you, for the present and for your future goals</p>  
    </div>
</div>

<div class="row">
    <div class="column">
        <img src="/images/booking.svg" alt="food" width="100" height="100">
        <h2>My Diary</h2> 
        <p>Your own personal diary for breakfast,lunch,dinner,drinks, and snacks for every day tracking </p>
    </div>
    <div class="column">
        <img src="/images/floppy disk.svg" alt="food" width="100" height="100">
        <h2>Logging / Saving</h2>
        <p>You can manually put in the foods you ate through out the day to keep track of your calories</p>
    </div>  
    <div class="column">
        <img src="/images/person walking.svg" alt="food" width="100" height="100">
        <h2>Keep Motivated</h2>
        <p>Makes you have a daily healthy routine and keeps you going towards your goal</p>
    </div>  
    <!--Recipes section-->	
    <div class="receipes">
        <div class="image">
            <img src="/images/receipe.png" style="border-radius: 10px;" width="65%" height="65%" alt="receipe">
        </div>
        <div class="text">
            <h1>Recipes & Inspiration</h1>
            <p>Healthy foods and recipes that can help with your journey</p>
            <button style="background-color: #929fba; color: white;"button type="button" class="btn btn-default btn-lg btn-block">Click Here for Inspo</button>
        
        </div>
    </div>
</div>