<!-- Background image -->
<div id="background"
    class="p-5 text-center bg-image"
    style="background-image: url('./images/berries.jpg');">
    <form id="signup-form" class="form-container">
        <p id="get-fit-text">Are you ready to get fit?</p>
        <div class="row">
            <div class="col">
                <input id="username-first-signup" type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input id="username-last-signup" type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <input id="email-signup" type="email" class="form-control" aria-describedby="emailHelp" placeholder="yourEmail@gmail.com">
        </div>
        <div class="form-group">
            <input id="password-signup" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
            <button type="submit" class="btn btn-outline-light btn-lg" style="color: black;">Submit</button>
        <div>
            <a id="got-account" href="/login">Already have an account</a>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>
