<div id="background"
    class="p-5 text-center bg-image"
    style="background-image: url('./images/berries.jpg')">

    <div class="container">
    <form id="signup-form" class="form">
        <div class="formInfo">
        <h1>Are you ready to get fit?</h1>
        <div class="input-control">
            <input id="username-first-signup" name="firstName" type="text" placeholder="First name">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <input id="username-last-signup" name="lastName" type="text" placeholder="Last name">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <input id="email-signup" name="email" type="text" placeholder="yourEmail@email.com">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <input id="password-signup" name="password" type="password" placeholder="Password">
            <div class="error"></div>
        </div>
        <button id="submit-btn" type="submit" class="btn btn-outline-light btn-lg" href="#" role="button" style="color: black;">Submit</button>
        <div><a id="got-account" href="/login">Already have an account</a></div>
        </div>
    </form>
    </div>

</div>

<script src="/js/signup.js"></script>
